<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= title %></title>
    </head>
    <body class="game-wrapper">
        <canvas id="game-scene"></canvas>
    </body>
</html>